#kepala {
  height: 70vh;
  background-image: url("/Animasi_and_Picture/main3.jpg");
  background-size: cover;
  background-position: center;
}

#judulArtikel {
  margin-top: 2rem;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  #judulArtikel {
    margin-top: 4rem;
    margin-left: 1rem;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff; /* Warna latar belakang */
}

header {
  color: #fff;
  text-align: center;
  padding: 0px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 30px;
  size-adjust: 20px;
}

.photo {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.photo img {
  width: 100%;
  height: auto;
  max-width: 100cm;
  max-height: 4cm;
  transition: transform 0.4s ease;
}

.photo:hover img {
  transform: scale(1.1);
}

.header {
  background-color: #727475;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gambar {
  flex: 1 1 100%;
  padding: 20px;
}

.gambar img {
  width: 100%;
  display:block;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navi {
  background: rgba(51, 49, 48, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 33.9%;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
  height: auto;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deskripsi {
  flex: 1 1 50%;
  padding: 20px;
}

.deskripsi p {
  line-height: 1.6;
}
