.navi {
    background: rgba(51, 49, 48, 0.3);
    position: fixed;
    width: 100%;
}

#kepala {
    height: 70vh;
    background-image: url("../Animasi_and_Picture/theme3.jpg");
    background-size: cover;
    background-position: center;
}

.konten {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
}

.boxrekom {
    border-radius: 5px;
    padding: 4rem;
    margin: 12px;
    cursor: pointer;
}

.boxrekom:hover {
    transform: scale(1.2);
}

.capt {
    color: whitesmoke;
    transform: translateY(65px);
}

@media (max-width: 768px) {
    .boxrekom {
        padding: 2rem;
    }
}

.about {
    display: inline-block;
    margin-top: 130px;
    background-color: #666666;
    padding: 20px;
}

.imges {
    width: 150px;
    height: 200px;
}